@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
	font-family: "cmu-sans";
	src: url("../fonts/cmu.sans-serif-bold.ttf");
}

body {
	background-color: #f1f1f1;
	font-family: "Montserrat";
}

header {
	display: flex;
	justify-content: center;
	gap: 2em;
	position: relative;
	text-align: center;
	background-color: #4a4a4a;
	color: white;
	box-shadow: 2px 2px 2px -1px #00000080;
	z-index: 2;
	padding-block: 0.5em;
}

button {
	display: inline-block;

	background: none;
	border: none;
}

button:hover {
	cursor: pointer;
}

.title {
	display: inline-block;
}

.backdrop {
	position: absolute;
	inset: 0;
	background-color: #00000099;
	z-index: 1;
}

.container {
	position: relative;
	min-width: 22em;
	max-width: 30em;
	margin: 0 auto;
}

.modal {
	display: flex;
	flex-direction: column;
	background-color: #f1f1f1;

	position: absolute;
	top: 1em;
	box-shadow: 2px 2px 2px -1px #00000080;
	height: 30em;
	width: 100%;
	z-index: 2;

	padding: 2em;

	font-weight: 500;

	transition: 0.5s;
}

.modal-hidden {
	top: -100%;
}

.close-modal {
	background-color: #4a4a4a;
	color: white;
	width: 75px;
	padding: 0.5em;
	border-radius: 5px;
	font-weight: bold;
	margin-top: auto;
}

.statistics__grid {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 2em;
	padding-block: 1em;
}

.statistic {
	width: 5em;
	text-align: center;
}

.statistic__number {
	font-weight: bold;
	font-size: 1.5em;
}

.instructions {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.example {
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin-top: 1em;
	gap: 1em;
	align-items: center;
	justify-items: center;
}

.example > * {
	height: 4em;
}

.guesses {
	display: grid;
	gap: 0.5em;
	margin-top: 2em;
}

.guess {
	display: flex;
	margin: 0 auto;
	height: 4em;
	gap: 0.5em;
}

.example > *,
.guess > * {
	border: 5px solid #888888;
	background: linear-gradient(38deg, #b5b5b5bf 30%, #ffffffbf 50%, #b4b4b4bf 70%);
	border-radius: 5px;
	box-shadow: 2px 2px 2px -1px #00000080;
	overflow: hidden;
}

.guess__name {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	font-weight: bold;

	padding-inline: 1em;
	width: 7em;
	border-bottom: none;
	border-top: none;
	box-shadow: 2px 2px 8px -1px #00000080;
}

.guess__color {
	width: 4em;
	border-radius: 100px;
	border-width: 5px;
}

.guess__color > * {
	position: absolute;
	inset: 0;
	border-radius: 100px;
}

.guess__team {
	width: 6em;
}

.guess__era {
	width: 4em;
}

form {
	margin: 1em auto;
	display: flex;
	width: fit-content;
	border-radius: 5px;
	box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.75);
}

input[type="submit"],
input[type="text"] {
	height: 2.5em;
	border: none;
	background-color: #dadada;
}

input[type="text"] {
	padding-inline: 1em;
	min-width: 19em;
	font-weight: bold;
}

input[type="submit"] {
	padding-inline: 0.5em;
	background-color: #0060df;
	color: #fff;
	font-weight: bold;
}

.autocomplete {
	position: relative;
	border: none;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	max-height: 300px;
	overflow-y: scroll;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: #0060df !important;
	color: #ffffff;
}

.feedback {
	margin: 1em auto;
	text-align: center;
	font-size: 1.2rem;
	width: 60%;
}

.time,
.target-ranger {
	font-weight: bold;
}

.time {
	font-size: 2rem;
	font-family: "cmu-sans";
}

.target-ranger {
	font-size: 1.2rem;
}

/* UTILITY */

.blue-ranger {
	background: #0060df;
}

.yellow-ranger {
	background: yellow;
}

.green-ranger {
	background: #00aa00;
}

.white-ranger {
	background: white;
}

.red-ranger {
	background: #ff3232;
}

.pink-ranger {
	background: pink;
}

.black-ranger {
	background: black;
}

.gold-ranger {
	background: #d8bb12;
}

.silver-ranger {
	background: #d5d5d5;
}

.purple-ranger {
	background: purple;
}

.hidden {
	display: none;
}

.ts--green {
	text-shadow: 1px 1px 0.5px rgb(36, 241, 70);
}

.ts--blue {
	text-shadow: 1px 1px 0.5px rgb(39, 36, 241);
}

.ts--pink {
	text-shadow: 1px 1px 0.5px rgb(241, 36, 186);
}

.ts--red {
	text-shadow: 1px 1px 0.5px rgb(238, 17, 1);
}

.ts--yellow {
	text-shadow: 1px 1px 0.5px rgb(234, 241, 36);
}
